*{
	padding: 0;
	margin: 0;
    box-sizing: content-box;
    font-size: 16px;
    color: #333;
}
a{
	text-decoration: none;
	
}
.el-row{
	margin: 0!important;
	padding: 0;
}
/*公用样式*/
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.partFixed{
    position: fixed;
    top: 0px;
    left: 0;
    
    width: 100%;
    height: 100Vh;
    z-index: 2;
	background: #FFF;
    overflow: auto;
}
/*固定头部栏*/
.fixedTop{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	
	width: 100%;
	height: 60px;
	line-height: 60px;
	
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #d5e2f1;
	
}
.grid-content{
	display: inline-block;
	width: 100%;
	height: 100%;
	
	color: #666;
	text-decoration:none;
}
.grid-content:hover{
	color: #000;
	font-weight: 400;
	font-size: 26px;
}
.contentMain{
	/*margin: 60px 0;*/
	padding:0px!important;
	/*background-color: #c1c1c1;*/
}
.marginTB60{
	margin: 60px 0;
}
.fixedFooter{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2;
	
	width: 100%;
	height: 60px;
	line-height: 60px;
	
	border-top: 1px solid #d5e2f1;
	background-color: #fff;
}
/*颜色*/
.bg-Top{
	background-color: #d5e2f1;
}
/*尾部歌曲信息*/
.song_portrait{
	padding: 0;
}
.song_portrait>img{
	width: 100%;
	border-radius: 50%;
	vertical-align: middle;
}
.footer_songInfo{
	padding: 4px 0;
}
.footer_songInfo>p{
	height: 26px;
    line-height: 26px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
}
.footer_songInfo>.song_name{
	font-size: 14px;
	color: #333;
}
.song_icon{
	font-size: 30px;
}
/*用户信息侧边栏样式*/
.leftCon .el-drawer{
	border-radius: 0!important;
	background-image: url("../img/bgPic.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.leftCon .el-drawer .el-drawer__header{
	border: none!important;
}

.userInfo .el-header{
	height: auto!important;
	padding: 10px 0;
}
.userHeader{
	text-align: center;
}
.userPortrai{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #fff;
}
.userName{
	height: 20px;
	line-height: 20px;
}
.moduleIcon{
	color: red;
	font-size: 20px;
}
.userMain{
	padding: 0;
		font-size: 14px;
	background: rgba(250,250,250,0.8);
}
.musicModule div{
	padding: 0!important;
	
}
.userFooter{
	width: 80%;
}
.musicModule{
	text-align: center;
}
.moduleName{
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
/*歌单详情样式*/
.songSheets{
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 60px;
    width: 100%;
    
    z-index: 3;
	background: #DCDCDC;
    overflow: auto;
}
.songSheetTop{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	
	width: 100%;
	height: 60px;
	line-height: 60px;
	
}
.sheetTopBgcolor{
	background: rgba(250,250,250,0.6);
}
.shheetTopposition{
	position: absolute;
}
.songOperate{
	text-align: right;
}
.songSheetTop .infoIcon{
	font-size: 24px;
	margin: 0 10px;
}
.songSheetInfo{
	position: relative;
}


