*{
	padding: 0;
	margin: 0;
    box-sizing: content-box;
}
a{
	text-decoration: none;
	
}
/*固定头部栏*/
.fixedTop{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	
	width: 100%;
	height: 60px;
	line-height: 60px;
	
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #d5e2f1;
	
}
.grid-content{
	display: inline-block;
	width: 100%;
	height: 100%;
	
	color: #666;
	text-decoration:none;
}
.grid-content:hover{
	color: #000;
	font-weight: 400;
	font-size: 26px;
}
.contentMain{
	margin: 70px 0;
	padding:0px!important;
	background-color: #c1c1c1;
}
.fixedFooter{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2;
	
	width: 100%;
	height: 60px;
	line-height: 60px;
	
	border-top: 1px solid #d5e2f1;
	background-color: #fff;
}
/*颜色*/
.bg-Top{
	background-color: #d5e2f1;
}
