/*固定头部栏*/
.fixedTop{
	border: 1px solid red;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #d5e2f1;
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.grid-content:hover{
	color: #fff;
}
.contentMain{
	margin: 60px 0;
}
.fixedFooter{
	position: fixed;
	width: 100%;
	left: 0;
	
	bottom: 0;
	height: 60px;
	line-height: 60px;
	border-top: 1px solid red;
}
/*颜色*/
.bg-Top{
	background-color: #d5e2f1;
}
